<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div layout:fragment="mainFragment">
    <form method="post" th:action="@{'/addcar'}">

      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>

      <div>
        <label for="model">Model:</label>
        <input type="text" id="model" name="model" required>
      </div>

      <div>
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" required>
      </div>

      <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
      </div>

      <div>
        <label for="country_id">Country:</label>

        <select id="country_id" name="country.id" required>
          <option th:each="country : ${countries}"
                  th:value="${country.id}"
                  th:text="${country.name + ' / ' + country.code}">
          </option>
        </select>
      </div>

      <button type="submit">SAVE</button>

    </form>
  </div>
</body>
</html>