<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
  <title>All Cars</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>



<div layout:fragment="mainFragment">

  <h2 class="mb-4 ms-2">All Cars</h2>

  <div>
    <h2>Find cars by year:</h2>
    <form th:action="@{/}" method="get">
      <div>
        <input type="text"
               id="name"
               name="name"
               placeholder="name"
               th:value="${param.name}">
        <label for="name">Name</label>

        <input type="number"
               id="year"
               name="year"
               placeholder="year"
               th:value="${param.year}">
        <label for="year">Year</label>

        <input type="number"
               id="price"
               name="price"
               placeholder="price"
                th:value="${param.price}">
        <label for="price">Price</label>

       <div>
         <select id="country_id"
                  name="country_id">
           <option value="">Any</option>
           <option th:each="country : ${countries}"
                    th:value="${country.getId()}"
                    th:text="${country.name+ '/'+ country.code}"
                    th:selected="${country_id_chek != null && country_id_chek.equals(country.id)}">
           </option>
         </select>
       </div>
        <div >
          <select id="category_id"
                  name="category_id">
            <option value="">Any</option>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:text="${category.name}"
                    th:selected="${category_id_chek !=null && category_id_chek.equals(category.id)}">
            </option>
          </select>
        </div>
      </div>
      <button type="submit">Search</button>
    </form>
  </div>

  <div class="ms-2 me-2">
    <table class="table table-striped">
      <thead class="table-warning">
      <tr>
        <th>ID</th>
        <th>Name <span style="color: #434343;">(Brand)</span></th>
        <th>Model</th>
        <th>Year of manufacture</th>
        <th>Price</th>
        <th>Country-manufacturer</th>
        <th>View</th>
      </tr>
      </thead>

      <tbody>
      <tr th:each="car : ${cars}">
        <td class="pt-3" th:text="${car.id}"></td>
        <td class="pt-3" th:text="${car.name}"></td>
        <td class="pt-3" th:text="${car.model}"></td>
        <td class="pt-3" th:text="${car.year}"></td>
        <td class="pt-3" th:text="${car.price}"></td>

        <!-- Вывод страны внутри цикла car -->
        <td class="pt-3">
          <span th:if="${car.country != null}"
                th:text="${car.country.name + ' / ' + car.country.code}">
          </span>
          <i th:unless="${car.country != null}"
             class="text-secondary">
            UNKNOWN
          </i>
        </td>

        <td>
          <a class="btn btn-primary" th:href="@{'/car?id=' + ${car.id}}">View</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="card px-3 py-3 my-3 ms-2 w-50">

    <h4>Sort cars:</h4>

    <form method="get"
          class="d-flex"
          th:action="@{'/'}">

      <div class="form-floating me-3">
        <select class="form-select"
                id="sort_by"
                name="sort_by">

          <option value="name" th:selected="${sort_by.equals('name')}">
            Name
          </option>

          <option value="year" th:selected="${sort_by.equals('year')}">
            Year
          </option>

          <option value="price" th:selected="${sort_by.equals('price')}">
            Price
          </option>

        </select>

        <label for="sort_by">Sort by:</label>
      </div>

      <div class="form-floating me-3">
        <select class="form-select"
                id="sort_order"
                name="sort_order">

          <option value="ASC" th:selected="${sort_order.equals('ASC')}">
            Ascending
          </option>

          <option value="DESC" th:selected="${sort_order.equals('DESC')}">
            Descending
          </option>

        </select>

        <label for="sort_order">Order:</label>
      </div>

      <div class="form-floating me-3">
        <input type="text"
               class="form-control"
               id="size"
               name="size"
               placeholder="size"
               th:value="${param.size}">

        <label for="size">Page size:</label>
      </div>

      <button type="submit"
              class="btn btn-success"
              style="height: 43.5pt;">
        OK
      </button>

    </form>
  </div>



  <nav aria-label="Pagination navigation" class="mt-4">
    <ul class="pagination justify-content-center">

      <li th:class="${current_page == 0 ? 'page-item disabled' : 'page-item'}">
        <a class="page-link"
           th:href="@{'/?page=' + ${current_page - 1} + '&size=' + ${page_size}}"
           aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li th:each="page_number : ${page_numbers}" class="page-item">
        <a th:class="${page_number == current_page ? 'page-link active' : 'page-link'}"
           th:href="@{'/?page=' + ${page_number} + '&size=' + ${page_size}}"
           th:text="${page_number + 1}">
        </a>
      </li>
      <li th:class="${current_page == total_pages - 1 ? 'page-item disabled' : 'page-item'}">
        <a class="page-link"
           th:href="@{'/?page=' + ${current_page + 1} + '&size=' + ${page_size}}"
           aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>


</div>


</body>
</html>