<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="mainFragment">
    <h1>All Country</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Country</th>
            <th>Code</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countries}">
            <td th:text="${country.getId()}"></td>
            <td th:text="${country.getName()}"></td>
            <td th:text="${country.getCode()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>